---
import { Picture } from "astro:assets";
import { existsSync } from "node:fs";
import { join } from "node:path";
const { show, showID } = Astro.props;

const thumbnails = import.meta.glob<{ default: ImageMetadata }>("/src/shows/_thumbnails/**/**/*.avif");

const thumbnailPath = join(process.cwd(), `/src/shows/_thumbnails/${showID}/${show.id}.avif`);
let thumbnailExists = existsSync(thumbnailPath);
let thumbnail = thumbnails[`/src/shows/_thumbnails/${showID}/${thumbnailExists ? show.id : "default"}.avif`];
---

<div class="video">
    <a class="thumbnail" href=`/${showID}/${show.id}`>
        {thumbnail && <Picture formats={["avif", "webp"]} src={thumbnail()} alt={show.name} width={1280} height={720} layout="constrained" transition:name={`${showID}/${show.id}`} />}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8 5.14v14l11-7z"/></svg>
    </a>
    <div id="video-info">
        <h3>{show.name}</h3>
        <p>{show.date}</p>
    </div>
</div>

<style>
    h3, p {
        margin: 0;
    }
    p {
        color: rgba(255, 255, 255, 0.5);
    }
    .video {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .video img {
        width: 12.5rem;
        height: auto;
    }
    .thumbnail {
        position: relative;
        display: flex;
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
    .thumbnail picture {
        display: flex;
    }
    .thumbnail svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        background: rgb(0 0 0 / 80%);
        padding: 0.5rem;
        border-radius: 5rem;
        border: 1px solid #000;
        transition: 300ms;
    }
    .thumbnail:hover svg {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.25rem;
    }
</style>